/* Style sheet for INST490 Capstone Project */
  
  header {
    justify-content: center;
    margin-bottom: -0.5em;
    text-shadow: 1px 1.5px 1px rgb(255, 255, 255);
  }
  
  #links {
    text-align: center;
  }
  
  body {
    font-family: "Trebuchet MS", Segoe UI, Tahoma, Helvetica, sans-serif;
    background: whitesmoke;
  }
  
  #links a {
    text-decoration: none;
    display: inline-block;
    margin: 0 0.2em;
    margin-bottom: 1em;
    padding: 3px;
    background-color: #97caf2;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 5px #999;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  #links a:hover {
      background-color: #6ea3cc
    }
  
  #links a:active {
    background-color: #6ea3cc;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    font-size: 18px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    margin-bottom: 0.3em;
    padding: 1%;
  }
  
  h4 {
    text-align: center;
    margin-bottom: auto;
  }
  
  p {
    font-size: 16px;
    margin-bottom: auto;
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
  
  table {
    background-color: #efefef;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
  }
  
  th {
    background-color: #cccccc;
    font-weight: bold;
    padding: 5px;
  }
  
  td {
    padding: 5px;
  }
  
  td.code {
    font-family: courier, courier-new, serif;
    font-weight: bold;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(64, 168, 247);
    /* border: 1px; */
    margin-bottom: 2em;
  }

  .viz {
      display: flex;
      /*flex-direction: column;*/
      justify-content: center;
      align-items: center;
      background-color: #e6e6e6;
      width: auto;
  }
  
  .filter {
    background-color: #808080;
    text-align: center;
  }
  
  .OutputContainer {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e6e6e6;
  }
  
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logos img {
    margin-top: 1em;
    max-width: 157px;
    margin-right: 1em;
  }

  .paragraph{
    background-color: rgb(255, 255, 255);
    text-align: center;
  }